/* App.css */

html,
body,
#root {
  height: 100%; /* Ensure full height for the body and root element */
}

body {
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 400px; /* Adjust width as needed for the login form */
  padding: 20px;
  box-sizing: border-box;
}
