body {
    background-color: black; /* Définit la couleur de fond de la page */
}

.container {
    width: 100%; /* Utilisation de la largeur totale de la fenêtre */
    height: 100vh; /* Utilisation de la hauteur totale de la fenêtre */
    display: flex; /* Utilisation de flexbox pour centrer les éléments */
    justify-content: center; /* Centrer horizontalement les éléments */
    align-items: center; /* Centrer verticalement les éléments */
}
